.card{
    border-color: $gallery;
    height: 100%;
    border-radius: 0.8rem;
    overflow: hidden;
    &-photo{
        position: relative;
        overflow: hidden;
        border-radius:inherit inherit 0 0;
        img{
            width: 100%;
        }
        .card-bubbles{
            position: absolute;
            top:0.5rem;
            left:0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .badge{
                background-color: $mardi-gras;
                svg{
                    margin-right: 1rem;
                }
                &.mint{
                    color:$magic-mint;
                    svg{
                        use{
                            fill:$magic-mint;
                        }
                    }
                }
                &.gold{
                    color:$kournikova;
                    svg{
                        use{
                            fill:$kournikova;
                        }
                    }                    
                }
            }
        }
    }
    &-body{
        .badge-list{
            display: flex;
            flex-wrap: wrap;
        }
    }
    &-title{
        margin-bottom: 2rem;
        p{
            font-size: 2rem;
            color:$mardi-gras; 
            margin: 0;           
        }
        .price{
            font-size: 2rem;
            font-weight: 700;
            color:$violet-eggplant;               
        }
    }
    &-tiles{
        display: grid;
        grid-template-columns: 49% repeat(3, 1fr);
        grid-template-rows: repeat(2, 50%);
        grid-gap: 3px;
        &.template-one{
            .tiles-item{
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    &.logo{
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                    }
                }
                &:nth-of-type(1){
                    grid-area: 1/1/3/1;
                }
                &:nth-of-type(2){
                    grid-area: 1/2/1/4;
                }                  
            }
        }
        &.template-two{
            .tiles-item{
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    &.logo{
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                    }
                }
                &:nth-of-type(1){
                    grid-area: 1/1/3/1;
                }
                &:nth-of-type(2){
                    grid-area: 1/2/1/4;
                }
                &:nth-of-type(4){
                    grid-area: 2/2/2/4;
                }                                  
            }
        }        
    }
}

@include respond(es-screen){
    .card{
        &-tiles{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            .tiles-item:not(:first-child){
                display: none;
            }
        }
    }
}